<%- include('templates/header', { cssFiles: cssFiles }) %>

    <!-- <%- include("./tutorial.ejs", {showTutorial: showTutorial})%> -->
    
    <div class="flex flex-col h-screen w-full relative">
      <main class="h-full w-full relative">

        <!-- Map -->
        <div id="map" class="h-full w-full"></div>

        <!-- Filter  -->
        <%- include("filter.ejs") %>

        <!-- Current Temp/UV  -->
        <%- include("current-temp-uv.ejs") %>    

        <!-- Parks/Cooling Centres Info -->
        <%- include("parks-centres.ejs") %>

        <!-- Uv Info button -->
        <%- include("uv-info.ejs") %>
                     
        <!-- Settings Button -->
        <a id="settings-btn" href="/usersettings" class="absolute rounded-2xl z-[9998] bottom-12 right-6 p-3 bg-white cursor-pointer hover:bg-gray-100 transition">
          <img class="btn-icon" src="/img/settings.svg" alt="Settings" draggable="false" />
        </a>
      </main>
    </div>

<%- include('templates/footer', { jsFiles: jsFiles }) %>